<ion-header class="header ion-no-border">
  <ion-toolbar class="toolbar">

    <ion-buttons slot="start">
      <ion-button [routerLink]="['..']" color="secondary">
        <ion-icon slot="start" [src]="'chevron-left' | getIcon"></ion-icon>
        <span>Back</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides [pager]="true">
    <ion-slide *ngFor="let photo of photos; let i = index">
      <ion-img [src]="photo.base64Data"></ion-img>
    </ion-slide>
  </ion-slides>

</ion-content>