<ng-container *ngIf="isModal">

  <ion-header>
    <ng-container *ngTemplateOutlet="headerTmpl"></ng-container>
  </ion-header>

  <ion-content>
    <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
  </ion-content>

</ng-container>

<ng-container *ngIf="!isModal">

  <ion-card>

    <ion-card-header>
      <ng-container *ngTemplateOutlet="headerTmpl"></ng-container>
    </ion-card-header>

    <ion-card-content>
      <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
    </ion-card-content>

  </ion-card>

</ng-container>


<!-- templates -->

<ng-template #headerTmpl>

  <ion-toolbar>
    <div slot="start" class="app-flex ion-align-items-center">

      <ion-img class="icon-type ion-margin-end" (dblclick)="onChangeMarkerType()"
               appTooltip="Double click to change marker type"
               [src]="('assets/bullets/bullet-' + geojsonFeature?.properties.type) + '.svg'">
      </ion-img>

      <app-input-mode #titleInputMode>
        <h2 viewElem class="ion-no-margin" appTooltip="Double click to edit">{{ formValue.title || 'Unknown Marker'}}
        </h2>
        <ion-input inputElem type="text" [formControl]="formTitleControl" placeholder="Marker Name" required
                   (keyup.enter)="titleInputMode.setViewMode()" (keydown.Tab)="titleInputMode.setViewMode()">
        </ion-input>
      </app-input-mode>

    </div>

    <ion-buttons slot="end" class="ion-margin-start">
      <ion-button size="small" (click)="onClose()" appTooltip="Close" aria-label="Close">
        <ion-icon size="small" slot="icon-only" [src]="'close' | getIcon"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ng-template>

<ng-template #contentTmpl>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="app-flex ion-align-items-center">
        <ion-buttons>
          <ion-button size="small" (click)="onCenterOnMap()" appTooltip="Center on map" aria-label="Center on map">
            <ion-icon slot="icon-only" size="small" [src]="'crosshairs-gps' | getIcon"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-note>
          <small>
            {{ geojsonFeature?.geometry.coordinates[1] | number: '1.6-6' }},
            {{ geojsonFeature?.geometry.coordinates[0] | number: '1.6-6' }}
          </small>
        </ion-note>
        <ion-buttons>
          <ion-button size="small" (click)="toggleRepositionMarker()"
                      appTooltip="Change marker position. Click on the map on the point where reposition the marker"
                      [color]="isMarkerRepositionOn ? 'secondary' : 'medium'" aria-label="Change marker position">
            <ion-icon slot="icon-only" size="small" [src]="'pencil' | getIcon"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>

      <ion-col size="auto">
        <ion-buttons class="ion-margin-start">

          <ion-button size="small" (click)="onSave()" [disabled]="form.invalid" color="secondary" appTooltip="Save"
                      aria-label="Save">
            <ion-icon size="small" slot="icon-only" [src]="'content-save-outline' | getIcon"></ion-icon>
          </ion-button>

          <ion-button size="small" (dblclick)="onDeleteMarker()" appTooltip="Double click to remove marker"
                      aria-label="Remove marker">
            <ion-icon size="small" slot="icon-only" [src]="'delete' | getIcon" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>

    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <form [formGroup]="form">
          <ion-grid>

            <ion-row>
              <ion-col>
                <small *ngIf="formJourneysControl.controls.length === 0">
                  <i>Add a new journey using the below button</i>
                </small>
              </ion-col>
            </ion-row>

            <ion-row *ngFor="let journeyControl of formJourneysControl.controls; let i = index">
              <ion-col>

                <ion-grid>

                  <ion-row>
                    <ion-col>
                      <app-input-mode #dateInputMode>

                        <div viewElem class="journey-date-view" appTooltip="Double click to edit">
                          <span>{{ journeyControl.value.date | date: 'dd MMMM yyyy' }}</span>
                        </div>

                        <ion-input inputElem type="date" [formControl]="journeyControl.get('date')" required
                                   (ionChange)="dateInputMode.setViewMode()"></ion-input>

                      </app-input-mode>
                    </ion-col>

                    <ion-col size="auto" class="app-flex">
                      <ion-buttons>
                        <ion-button *ngIf="formJourneysControl.controls.length > 1" size="small"
                                    (click)="onRemoveJourney(i)" appTooltip="Remove this day"
                                    aria-label="Remove this day">
                          <ion-icon slot="icon-only" [src]="'map-marker-remove-outline' | getIcon" color="danger"
                                    size="small">
                          </ion-icon>
                        </ion-button>
                      </ion-buttons>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col>

                      <div class="app-flex app-flex-wrap">

                        <div class="img-box" *ngFor="let photo of journeyControl.get('photos')?.value; let i = index">
                          <ion-img [src]="photo.base64Data" class="img" [alt]="photo.filename"
                                   [routerLink]="['/img-viewer']"
                                   [state]="{'photos': journeyControl.get('photos')?.value, 'photoIndex': i}">
                          </ion-img>

                          <ion-buttons class="img-rm-btn">
                            <ion-button (click)="onRemovePhoto(journeyControl, i)" size="small" fill="clear"
                                        color="danger" c3Tooltip="Remove">
                              <ion-icon slot="icon-only" size="small" [src]="'close' | getIcon"></ion-icon>
                            </ion-button>
                          </ion-buttons>
                        </div>

                        <div class="img-box img-placeholder-box" appUploadFiles
                             (filesUpload)="onOpenImg($event, journeyControl)">
                          <ion-img src="assets/others/img-placeholder.svg" class="img-placeholder"></ion-img>
                          <ion-icon class="img-placeholder-icon" size="large" [src]="'plus' | getIcon" alt="Add Photo">
                          </ion-icon>
                        </div>
                      </div>



                    </ion-col>
                  </ion-row>

                </ion-grid>

              </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
              <ion-col>
                <ion-buttons>
                  <ion-button size="small" (click)="onAddJourney()" aria-label="Add new day">
                    <span>Add new day</span>
                    <ion-icon size="small" slot="end" [src]="'map-marker-plus-outline' | getIcon"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-col>
            </ion-row>

          </ion-grid>
        </form>
      </ion-col>
    </ion-row>

  </ion-grid>

</ng-template>