<ion-card class="container">
  <ion-card-content>

    <ion-toolbar>
      <ion-searchbar (ionChange)="onSearch($any($event).detail.value)" [debounce]="500" class="ion-no-padding">
      </ion-searchbar>

      <ion-buttons slot="end" class="ion-margin-start">
        <ion-button size="small" (click)="onClose()" appTooltip="Close" aria-label="Close">
          <ion-icon size="small" slot="icon-only" [src]="'close' | getIcon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-list>
      <ion-item [button]="true" *ngFor="let result of results" [detail]="false" (click)="onResultSelect(result)">
        <ion-icon slot="start" [src]="'map-marker-outline' | getIcon" color="medium"></ion-icon>

        <div class="c3-app-flex-column">
          <ion-label>{{ result.text }}</ion-label>
          <ion-note><small>{{ result.place_name }}</small></ion-note>
        </div>
      </ion-item>
    </ion-list>

  </ion-card-content>
</ion-card>