<ion-card>

  <ion-card-header>
    <ion-card-title class="app-flex ion-align-items-center">

      <ion-img class="icon-type ion-margin-end"
               [src]="('assets/bullets/bullet-' + geojsonFeature.properties.type) + '.svg'"></ion-img>

      <span>{{ formValue.title || 'Unknown'}}</span>
    </ion-card-title>

    <ion-card-subtitle class="app-flex ion-align-items-center ion-margin-top">
      <ion-buttons>
        <ion-button size="small" (click)="onCenterOnMap()">
          <ion-icon slot="icon-only" size="small" [src]="'crosshairs-gps' | getIcon"></ion-icon>
        </ion-button>
      </ion-buttons>
      <span>{{ geojsonFeature.geometry.coordinates[1] | number: '1.6-6' }},
        {{ geojsonFeature.geometry.coordinates[0] | number: '1.6-6' }}</span>
    </ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>


    <form [formGroup]="form">

      <ion-item>
        <ion-label position="inline">Title</ion-label>
        <!-- <ion-label position="fixed">Title</ion-label> -->
        <ion-input type="text" formControlName="title" required></ion-input>
      </ion-item>

    </form>

  </ion-card-content>

</ion-card>